*.gcda
*.gcno
*.gcov
*.tmp
*.o
*.so
*.a
*.baf
*.gch
*.plist
cscope.out
*~
makefile
boolector
btormbt
btoruntrace
btoric3
synthebtor
basicbtor
btorimc
dimacs2smt2
btor2horn
test
dependencies
test.dep
deltabtor
btorconfig.h
merged.c
/*.btor
/*.smt
/*.smt2
run.sh
doc
*.swp
*.trace
btorimc
btormbt
.vimrc
api/python/*.c
api/python/*.so
python.mk
setup.py
testibv
