*.gcda
*.gcno
*.gcov
*.tmp
*.o
*.a
*.baf
*.gch
*.plist
cscope.out
*~
makefile
boolector
boolector2
synthebtor
basicbtor
dimacs2smt2
btor2horn
test
dependencies
test.dep
deltabtor
btorconfig.h
merged.c
*.btor
*.smt
run.sh
doc
